@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: #F2545B;
    --box-1: #A62930;
    --box-2: #FF737A;
    --box-3: #F2545B;
    --box-4: #19A63D;
    --box-5: #BF5830;
    --box-6: #8C7369;
    --box-7: #67BF30;

    --light-gray: #E4E5E6;
    --white: #FFFFFF;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    background-color: var(--pink);
    color: var(--white);
    padding: 1.5rem;
}

.nav-icons {
    display: flex;
}

a {
    text-decoration: none;
    color: var(--white);
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

.sidebar-space {
    padding: 0 4.5rem;
}

aside {
    background-color: var(--pink);
    height: 100%;
    padding-top: 2.5rem;
}

aside li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 3rem;
    color: var(--white);
    padding: 0 2rem;
}

.active {
    border-left: 4px solid var(--white);
}

.sidebar-icon {
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.sidebar-icon img {
    width: 25px;
}

.logout {
    border-top: 1px solid var(--white);
    margin-top: 30rem;
    padding-top: 1rem;
}

.main__section {
    margin: 2.5rem auto;
    width: 78%;
}

.heading__1,
.heading__2 {
    margin-bottom: 1rem;
}

/* table */
.options {
    background-color: var(--light-gray);
    padding: 4px;
    font-size: 16px;
    width: 55vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.options p {
    padding: 0.5rem 4rem;
}

.opt-active {
    background-color: var(--white);
}

.filter {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.filter__entries {
    display: flex;
    flex-basis: 12%;
    justify-content: space-between;
    border: 1px solid var(--light-gray);
    padding: 5px;
    height: auto;
}

.filter__actions {
    display: flex;
}

.filter__actions div {
    border: 1px solid var(--light-gray);
    padding: 4px;
}

.btn {
    padding: 0.5rem 1.25rem;
    background-color: var(--pink);
    color: var(--white);
    outline: none;
    border: none;
    border-radius: 2px;
}

.table {
    width: 100%;
    margin: 0 auto;
}

.tb-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    font-size: 14px;
}

.tb-header {
    background-color: var(--light-gray);
    font-size: 16px;
}

.tb-row img {
    width: 30px;
    border-radius: 4px;
}

.elipses {
    font-size: 5px;
}